 .img-responsive{
  max-height: 295px;

}

body {
  background: lightblue;
  text-align: center;
}

.container {
  width: 900px;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom:10px;
 }

.photo{
  width: 100%;
  /* padding-right: 5px;
  padding-left: 5px;
  padding-bottom:5px; */
 }

img{
  width:95%;
  height: 290px;
  /* border-style: solid;
  border-width: 2px;  */
}

#img{
  min-height: 300px;


}
.col-md-4{
  min-height: 300px;
  border-style: solid;
  border-width: 2px; 
  padding: 1px;
  
}

button{
  display:inline-block;
  padding: 5px,4px;
  cursor: pointer;
  
}